body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --main-title-color: #2e2f42;
  --main-text-color: #434455;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
.list {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/** -----------------------HEADER---------------------- */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
}
.header-logo {
  display: block;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--main-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link:is(:hover, :focus) {
  color: #404bbf;
}

.header-address-list {
  display: flex;
  gap: 40px;
}
.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-item {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-address-item:is(:hover, :focus) {
  color: #404bbf;
}

/** -----------------------MORE---------------------- */
.more {
  background-color: #2e2f42;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/more_bg.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
  padding-top: 188px;
  padding-bottom: 188px;
}
.more-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;

  color: #ffffff;
}
.more-btn {
  margin-top: 48px;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: 0;
  min-width: 169px;
  height: 56px;
}
.more-btn:is(:hover, :focus) {
  background-color: #404bbf;
}

/** -----------------------BENEFITS---------------------- */
.benefits {
  background-color: #ffffff;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-item {
  width: calc((100%-72px) / 4);
}
.benefits-bg {
  display: flex;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.benefits-bg:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.benefits-title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/** -----------------------CONTENT---------------------- */
.content {
  padding-bottom: 120px;
  background-color: #ffffff;
}
.content-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}
.content-item {
  width: calc((100%-48px) / 3);
}
.content-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}
/** -----------------------TEAM---------------------- */
.team {
  background-color: #f4f4fd;
}
.team-title {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-transform: capitalize;
  color: var(--main-title-color);
}
.team-list {
  display: flex;
  gap: 24px;
  text-align: center;
}
.team-item {
  width: calc((100% - 72px) / 4);
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  background-color: #ffffff;
  
}
.team-item > img {
  margin-bottom: 32px;
}

.team-small-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.team-text {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.team-soc-list{display: flex;
justify-content: center;
gap: 24px;}

.team-soc-item{
width: 40px;
height: 40px;

}
.team-soc-link{
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4D5AE5;;
display: flex;
align-items: center;
justify-content: center;

}
.team-soc-link:is(:hover, :focus){background-color: #404BBF;;}

/** -----------------------CUSTOMERS---------------------- */
.customers{padding-top: 120px;padding-bottom: 120px;}

.customers-title{
  margin-bottom: 72px;
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;}

.customer-item{

width: 188px;
height: 88px;}

.customers-link{
display: flex;
width: 100%;
height: 100%;
border: 1px solid #8E8F99;
border-radius: 4px;
align-items: center;
justify-content: center;
}
.customers-logo-icon{fill: #8E8F99;;}
.customers-link:is(:hover, :focus){
  border: 1px solid #404BBF;
  border-radius: 4px;}

  .customers-link:hover > .customers-logo-icon{
    fill:#404BBF;}

    .customers-list{
  display: flex;
  gap: 24px;
}

/** -----------------------FOOTER---------------------- */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  margin-top: 16px;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}


/** -----------------------MENU-PORTFOLIO---------------------- */
.menu {
  padding-top: 96px;
  padding-bottom: 120px;
}
.menu-btn {
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}
.menu-btn:is(:hover, :focus) {
  background-color: #404bbf;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
}

.menu-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

/** -----------------------WORKS-PORTFOLIO---------------------- */
.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}
.works-link {
  display: block;
}
.works-item {
  width: calc((100% - 48px) / 3);
}
.works-item.works-item:nth-child(3n) {
  margin-right: 0;
}
.works-div {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.works-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.works-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
